@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/chunk-webfont.eot');
    src: url('../fonts/chunk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunk-webfont.woff') format('woff'),
         url('../fonts/chunk-webfont.ttf') format('truetype'),
         url('../fonts/chunk-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPdotsRegular';
    src: url('../fonts/BPdots-webfont.eot');
    src: url('../fonts/BPdots-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BPdots-webfont.woff') format('woff'),
         url('../fonts/BPdots-webfont.ttf') format('truetype'),
         url('../fonts/BPdots-webfont.svg#BPdotsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('../fonts/ArchitectsDaughter-webfont.eot');
    src: url('../fonts/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ArchitectsDaughter-webfont.woff') format('woff'),
         url('../fonts/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('../fonts/ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  color: #000;
}

div.section {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

div.hr {
  background: transparent url(../images/hr.png) center bottom repeat-x;
}

div.section h3 {
  margin: 0px;
}

div.section h3.section-title {
  position: relative;
  float: left;
  width: 160px;
  text-align: right;
  color: black;
  font: normal 50px/42px BebasNeueRegular, Helvetica, Arial, serif;
  text-shadow: 3px 3px 0px #DDD;
}

div.section div.section-content {
  position: relative;
  float: right;
  width: 720px;
  font: normal 18px Helvetica, Arial, sans-serif;
  color: #666;
}

div.section h3 {
  font-size: 18px;
  line-height: .8em;
}

div.section p {
  margin: .4em 0 1em 0;
  font-weight: 300;
}


div#call-to-action {
  padding-bottom: 60px;
  position: relative;
}

div#call-to-action h1 {
  color: black;
  font: normal 140px/104px BebasNeueRegular, Helvetica, Arial, serif;
  text-shadow: 3px 3px 0px #DDD;
  margin: 25px 0 -40px -5px;
  background: transparent url(../images/dodgetocat.png) 565px 25px no-repeat;
  padding-bottom: 40px;
}

div#call-to-action h2 {
  margin: 0px;
  color: #999;
  letter-spacing: 1px;
  font: normal 28px/28px ChunkFiveRegular, Rockwell, serif;
}

div#the-pot {
  position: absolute;
  top: 2px;
  right: 2px;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 4px #666; 
  -moz-box-shadow: 0px 0px 4px #666; 
  box-shadow: 0px 0px 4px #666;
  background-color: #d0d0d0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#fefefe)); 
  background-image: -webkit-linear-gradient(top, #d0d0d0, #fefefe); 
  background-image:    -moz-linear-gradient(top, #d0d0d0, #fefefe); 
  background-image:     -ms-linear-gradient(top, #d0d0d0, #fefefe); 
  background-image:      -o-linear-gradient(top, #d0d0d0, #fefefe); 
  background-image:         linear-gradient(top, #d0d0d0, #fefefe);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d0d0d0', EndColorStr='#fefefe');
}

div#the-pot span.shine {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: transparent url(../images/shine.png) left 5px repeat-x;
  z-index: 1;
}

div#the-pot h3 {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding-top: 1px;
}

div#the-pot h3.title {
  color: #333;
  font: normal 41px BebasNeueRegular, Helvetica, Arial, serif;
  margin: 0 8px; 0 10px;
  text-shadow: 1px 1px 2px #666;
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

div#the-pot h3.ammount {
  color: #fff;
  font: normal 58px BPdotsRegular, monospace;
  background-color: #d0d0d0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#323232)); 
  background-image: -webkit-linear-gradient(top, #000, #323232); 
  background-image:    -moz-linear-gradient(top, #000, #323232); 
  background-image:     -ms-linear-gradient(top, #000, #323232); 
  background-image:      -o-linear-gradient(top, #000, #323232); 
  background-image:         linear-gradient(top, #000, #323232);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#000', EndColorStr='#323232');
  text-shadow: none;
  padding: 0 5px 0 10px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

div.section li {
  list-style-type: none;
}

div.section li.team {
  width: 340px;
  position: relative;
  overflow: hidden;
  margin: 0 40px 50px 0;
  float: left;
}

div.section div.team-header {
  position: relative;
  overflow: hidden;
}

div.section div.team-header img {
  position: relative;
  float: left;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

div.section div.team-header div.info {
  border-bottom: 1px solid #ddd;
  position: relative;
  float: left;
  margin-left: 20px;
  width: 220px;
  height: 99px;
}

div.section div.team-header h3 {
  font: normal 30px/28px BebasNeueRegular, Helvetica, Arial, serif;
}

div.section div.team-header a {
  margin: 8px 10px 0 0;
  cursor:pointer;
  border:1px solid #d4d4d4;
  text-shadow:1px 1px 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #d4d4d4;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f4f4f4, #ececec); 
  background-image: -ms-linear-gradient(top, #f4f4f4, #ececec); 
  background-image: -o-linear-gradient(top, #f4f4f4, #ececec); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec)); 
  background-image: -webkit-linear-gradient(top, #f4f4f4, #ececec); 
  background-image: linear-gradient(top, #f4f4f4, #ececec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#ececec');
  font-size: 11px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  padding: 3px 7px 3px;
}

div.section div.team-header a:hover {
  text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.3);
  border-color:#518cc6;
  background-color: #599bdc;
  border-bottom-color:#2a65a0;
  background-image: -moz-linear-gradient(top, #599bdc, #3072b3); 
  background-image: -ms-linear-gradient(top, #599bdc, #3072b3); 
  background-image: -o-linear-gradient(top, #599bdc, #3072b3); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3)); 
  background-image: -webkit-linear-gradient(top, #599bdc, #3072b3); 
  background-image: linear-gradient(top, #599bdc, #3072b3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#599bdc', EndColorStr='#3072b3');
  color: #fff;
  text-decoration: none;
}

div.section li.team table {
  font-size: 14px;
  line-height: 23px;
  border-collapse: collapse;
}

div.section li.team th {
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
  width: 50%;
}

div.section li.team td {
  font-weight: bold;
  color: #000;
}

div.section div.section-content > ul {
  overflow: hidden;
  width: 760px;
}

div.section li.team li {
  float: left;
  position: relative;
  display: block;
  width: 50%;
}

div.section div#signup {
  background: transparent url(../images/paper.jpg) 0 0 no-repeat;
  width: 528px;
  height: 800px;
  display: block;
  padding: 71px 78px 0px 84px;
}

div.section div#signup h3 {
  font: normal 80px/80px BebasNeueRegular, Helvetica, Arial, serif;
  text-align: center;
}

div.section div#signup table {
  width: 528px;
  border-collapse: collapse;
}

div.section div#signup td {
  width: 254px;
}

div.section div#signup td.spacer {
  width: auto;
}

div.section tr.space-below td {
  padding-bottom: 20px;
}

div.section div#signup input {
  width: 100%;
  padding: 0px;
  margin: 0px
  display: block;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #333;
  font: normal 14px/14px 'ArchitectsDaughterRegular', Georgia, Times, serif;
  color: #666;
}

div.section div#signup label {
  font-size: 11px;
  color: #333;
  display: block;
}

div.section div#signup .pledge {
  font-size: 11px;
  color: #333;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  float: left;
  margin-top: 10px;
}

div.section div#signup .unchecked,
div.section div#signup .checked {
  position: relative;
  display: inline-block;
  height: 21px;
  width: 22px;
  top: 3px;
  background: transparent url(../images/check-sprite.png) 0 0 no-repeat;
}

div.section div#signup .unchecked {
  background-position: 0px 0px;
}

div.section div#signup .checked {
  background-position: 0px -21px;
}

div.section div#signup button {
  background: none;
  border: 2px solid #dfdfdf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font: normal 20px/18px BebasNeueRegular, Helvetica, Arial, serif;
  letter-spacing: 1px;
  padding: 7px 7px 5px;
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: 10px;
}

div.section div#signup button:hover {
  background: #eee;
  border-color: #ccc;
}

div#challenge {
  position: relative;
  overflow: hidden;
  display: block;
  height: 176px;
  text-align: center;
}

div#challenge span.dodgeball {
  display: block;
  width: 170px;
  height: 176px;
  background: transparent url(../images/dodgeball.png) left top no-repeat;
}

div#challenge span.left {
  position: absolute;
  top: 0;
  left: 0;
}

div#challenge span.right {
  position: absolute;
  top: 0;
  right: 0;
}

div#challenge h4 {
  color: #999;
  font: normal 36px/24px ChunkFiveRegular, Rockwell, serif;
  margin: 0;
}

div#challenge h3 {
  font: normal 158px/120px BebasNeueRegular, Helvetica, Arial, serif;
  margin: 20px 0 0;
  color: #000;
}