<div id="call-to-action" class="section hr">
  <h2>First Annual</h2>
  <h2><a href="/">Octocat Dodgeball Invitational</a></h2>
  <h2>Sunday, October 23rd</h2>
  <div id="the-pot">
    <span class="shine"></span>
    <h3 class="title">The Pot</h3>
    <h3 class="ammount">$<span id="ammount"><%= @pot %></span></h3>
  </div>
</div><!-- #header-wrapper -->

<div id="challenge" class="section hr">
  <span class="dodgeball left"></span>
  <h4>I guess you have</h4>
  <h3>The Balls</h3>
  <span class="dodgeball right"></span>
</div>

<div class="section hr">
  <p class="instructions">
  We will email you to verify everything and set up your donation, 
  then you will see your team listed in the Teams section. Thanks!
  </p>
</div>

